{% comment %} 
    Edvinas Kilbauskas
    File is included in "snippets/product-single-form-inner.liquid"
{% endcomment %}

{% liquid
	case product.vendor
    	when "INDYPREP"
			assign badge_src_desktop = 'MS_atc_badge_svg.svg' | asset_url
            assign badge_src_mobile = 'MS_atc_badge_svg.svg' | asset_url
        else
        	assign badge_src_desktop = 'https://cdn.shopify.com/s/files/1/0536/0513/8593/files/03.09.2021.MOD_BADGE_DESKTOP_BLACK_DOMAS_3.png?v=1638980914'
            assign badge_src_mobile = 'https://cdn.shopify.com/s/files/1/0536/0513/8593/files/03.09.2021.MOD_BADGE_MOBILE_BLACK_DOMAS_5_1_1_1_1.png?v=1638980914'
    endcase
    
    if product.type == "subscription box"
    	assign badge_src = 'MS_atc_badge_svg.svg' | asset_url
        assign badge_src = 'MS_atc_badge_svg.svg' | asset_url
    endif
%}

<source srcset="{{ badge_src_desktop | img_url: '200x' }}" media="(min-width: 767px)">

<div class="atc-badges-img-wrapper fox-hide--small">
  <img class="atc-badges-img"
      src="{{ badge_src_desktop }}"
      alt="Badges">
</div>

<div class="atc-badges-img-wrapper fox-hide--medium-up">
  <img class="atc-badges-img"
      src="{{ badge_src_mobile }}"
      alt="Badges">
</div>
